<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>文章列表</title>
</head>
<body>
{% include 'nav.html'%}
<br>
<div class="text-left">
    {% for article in articles %}
    <tr>
        <td>{{ article.id }}</td>
        <td>
            <a href="{{ article.linkage }}" style="color: #3399ea" target="_blank">{{ article.title }}</a>
        </td>
        <br>
    </tr>
    {% endfor %}
</div>

{# 实现分页标签的代码 #}
{# 这里使用 bootstrap 渲染页面 #}
<div id="pages" class="text-left">
    <nav>
        <ul class="pagination">
            <li class="step-links">
                {% if articles.has_previous %}
                <a class='active' href="?page={{ articles.previous_page_number }}">上一页</a>
                {% endif %}

                <span class="current">
                    Page {{ articles.number }} / {{ articles.paginator.num_pages }}</span>

                {% if articles.has_next %}
                <a class='active' href="?page={{ articles.next_page_number }}">下一页</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</div>
</body>
</html>