{% load static %}
<nav class="navbar navbar-expand-md bg-white fixed-top blog-navbar py-md-0">
    <a class="navbar-brand d-md-none d-lg-block" id="site-logo-name" href="/blog">
        <strong class="px-2">yycode</strong>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

<!--            <form class="form-inline my-2 my-lg-0">-->
<!--                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--            </form>-->
<!--            <form class="nav-item navbar-form mr-2 py-md-2" role="search" method="get" id="searchform"-->
<!--                  action="#">-->
<!--                <div class="input-group">-->
<!--                    <input type="search" name="q" class="form-control rounded-0" placeholder="站内搜索" autocomplete="off"-->
<!--                           required=True>-->
<!--                    <div class="input-group-btn">-->
<!--                        <button class="btn btn-info rounded-0" type="submit"><i class="fa fa-search"></i></button>-->
<!--                    </div>-->
<!--                </div>&lt;!&ndash; /input-group &ndash;&gt;-->
<!--            </form>-->
        </ul>

    </div>
</nav>
